<h2>My Heroes</h2>
<ul class="heroes">
  <!-- será feita uma repetição dentro do LI com o uso da diretiva ngFor  -->
  <li
    *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)"
  >
    <span>{{ hero.id }} </span> {{ hero.name }}
  </li>
</ul>

<!-- uso da diretiva ngIf significa que se tiver alguma coisa na variável, ele mostra o conteúdo, ou seja, nesse caso, selectedHero -->
<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div>
    <span>id: {{ selectedHero.id }} </span>
  </div>
  <div>
    <span>name: {{ selectedHero.name }} </span>
  </div>

  <div>
    <label for="name">Hero name:</label>
    <input
      id="name"
      [(ngModel)]="selectedHero.name"
      placeholder="name"
      type="text"
    />
  </div>
</div>
